* {
    padding: 0;
    margin: 0;
}

body {
    font: var(--font-settings);
    font-optical-sizing: var(--font-optical-sizing);
    background: var(--background);
}

:root {
    --background-dark-blue-color: rgb(13, 43, 78);
    --background-light-blue-color: rgb(29, 79, 137);
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(217, 217, 217);
    --green-fatec: rgb(68, 156, 52);
    --background: linear-gradient(to bottom, var(--background-light-blue-color), var(--background-light-blue-color));
    --red-color: red;
    --numero-fontSize: 1.4rem;
    --font-settings: normal 800 1.3rem "Oswald", sans-serif;
    --font-optical-sizing: auto;
    --text-shadow: 1px 1px 2px var(--black-color);
}



.corpo {
    height: auto;
    padding-bottom: 100%;
}

.parcelas-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 1rem;
    color: var(--white-color);
    font: var(--font-settings);
    font-optical-sizing: var(--font-optical-sizing);
}

.sub-titulo {
    font-size: 1rem;
}

.barra {
    background-color: var(--white-color);
    width: 100vw;
    height: 1px;
}

.barra-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}


.parcela {
    display: flex;

    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 0.9rem;
    width: 90%;
}

.parcela-indicador {
    margin: 0.3rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;

}

.expandir {
    display: flex;
}

.valores {
    transition: opacity 0.5s ease;
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

.item1 {

    opacity: 0;
    display: none;
    padding: 0.1rem;
}

.item2 {
    opacity: 0;
    display: none;
    padding: 0.1rem;
}

.item3 {
    opacity: 0;
    display: none;
    padding: 0.1rem;

}

.item4 {
    opacity: 0;
    display: none;
    margin: 0.4rem;
    transform: translate(130px);
    width: 50%;
    background-color: #3774ff;
    color: var(--white-color);
    border-style: none;
    border-radius: 15px;
    height: 2.5rem;
}