* {
    padding: 0;
    margin: 0;
}

:root {
    --background-dark-blue-color: rgb(13, 43, 78);
    --background-light-blue-color: rgb(29, 79, 137);
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(217, 217, 217);
    --green-fatec: rgb(68, 156, 52);
    --background: linear-gradient(to bottom, var(--background-dark-blue-color), var(--background-light-blue-color));
    --red-color: red;
    --numero-fontSize: 1.4rem;
    --font-settings: normal 800 1rem "Oswald", sans-serif;
    --font-optical-sizing: auto;
}

body {
    font: var(--font-settings);
    font-optical-sizing: var(--font-optical-sizing);
    background: var(--background);
}

.materias {
    height: auto;
    padding-bottom: 100%;
}

.materia-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 0.7rem;
}

.barra {
    background-color: var(--white-color);
    width: 100vw;
    height: 1px;
}

.barra-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--white-color);
    font: var(--font-settings);
    font-optical-sizing: var(--font-optical-sizing);
}

.dia {
    color: var(--green-fatec);
    font-size: 1.2rem;
}

.menu-dias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px;
}

.ausencia {
    color: var(--red-color);
}

.organizar {
    transform: translate(-10px);
}

.menu-dias a {
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
}



.materia {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 10px;
    width: 90%;
}

.titulo-materia {
    margin: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    color: var(--green-fatec);
}

.materia-indicador {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
}

.valores {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    align-items: center;
    font-size: 1rem;
}
.valor1 {
    transform: translate(5px);
}
.valor2 {
    transform: translate(30px);
}

.circle-container {
    position: relative;
    width: 70px;
    height: 70px;
    transform: translate(20px);
}

.circle {
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--green-fatec) var(--percentage), var(--white-color) 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle::before {
    content: '';
    width: 80%;
    height: 80%;
    background: var(--white-color);
    border-radius: 50%;
    position: absolute;
}

.percentage {
    position: absolute;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--green-fatec);
}

.circle[data-percentage="100"] {
    --percentage: 100%;
}

.circle[data-percentage="70"] {
    --percentage: 70%;
}

.circle[data-percentage="50"] {
    --percentage: 50%;
}

.circle[data-percentage="30"] {
    --percentage: 30%;
}